RewriteEngine On


RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^([a-z0-9\-]+)\.html$ index0.go?$1&%1%2 [L] 

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^([a-z0-9\-]+)\/([a-zA-Z0-9]+).html$ index1.go?$1&$2&%1%2 [L] 


AddHandler cgi-script .go
Options +ExecCGI
DirectoryIndex index.go