RewriteEngine On

RewriteRule ^([a-z0-9\-]+)\.html$ index.go?$1 [L] 

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^api\/([a-zA-Z0-9]+).c$ api.go?$1&%1%2 [L] 


AddHandler cgi-script .go
Options +ExecCGI
DirectoryIndex index.go